<div>
<H1>Login</H1>
<p>{{message}}</p>
<form method="post" action="/api/sessions/login">
    <label>Email</label>
    <input name="email">
    <br>
    <label>Password</label>
    <input name="password" type="password">
    <br>
    <input type="submit">
</form>
<br>
<p>No estas registrado?? <a href="../registro">Click aqui para registrarte</a></p>
</div>



