<h1>Formulario de login</h1>
<p>{{message}}</p>
<p style="color:red">{{error}}</p>

<form id="baseForm" method="post" action="/api/sessions/login">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="contraseña" name="password"/>
    <br/><br/>
    <button>Loguearse</button>
</form>
<hr>
<a href="/api/sessions/loginGithub">
    <button>
        Iniciar sesión con github
    </button>
</a>
<script src="/js/index.js"></script>