<div id="contenedor" class="container">
        <form id="loginForm" class="form-label bg-light">
            <h2 class="">Login</h2>
            <input class="form-label" type="username" name="username" placeholder="Ingrese su username" required>
            <input class="form-label" type="password" name="password" placeholder="Ingrese su contraseña" required>
            <button class="form-label" type="submit" > Ingresar </button>
            <p>No estás registrado? <a href="/register">Regístrate aquí</a></p>
        </form>
</div>
<script src="/js/login.js"></script>