<h1>Nueva contraseña</h1>
<p style="color:red">{{error}}</p>

<br/><br/>
<p>Ingresa correo y nueva contraseña</p>
<form method="post" action="/api/sessions/password">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" name="newPassword"/>
    <br/><br/>
    <button>Cambiar</button>
</form>