<h1>Registrarse</h1>

<form method="post" action="/api/sessions/signup">
    <input type="text" placeholder="nombre" name="first_name"/>
    <br/><br/>
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="contraseña" name="password"/>
    <br/><br/>
    <button>Registrarse</button>
</form>