* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

.caja {
    padding: 15px;
    margin: 15px;
    width: 750px;
    border: 1px solid rgb(163, 10, 165);
    
}

.caja > div {
    display: flex;
    flex-flow: row nowrap;
}


.title {
    padding: 20px;
    background-color: blueviolet;
}